*{
    padding: 0;
    margin: 0;
    gap: 0;
    background-color: rgb(51, 51, 51);

}

.base_calculatrice{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 80vh;
    justify-content: center;
    width: 100%;
}

table{
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 450px;
    border-spacing: 20px;
    font-size: 2.5rem;
    border-radius: 15px;
}


/* tr de l'input */
tr:first-child td:first-child{
    position: relative;
    border: none;
    height: 4rem;

}

.td_input{
    position: absolute;
    background-color: black;
}

input{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    font-weight: lighter;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    overflow-x: auto;
    background-color: rgb(80, 80, 80);
    color: white;
}


/* bouton effacer */
tr:nth-child(2) td:nth-child(1){
    border: none;
    position: relative;
    height: 2rem;
}

.td1_arrow_delete {
    background-color: black;
}

/* td image bouton effacer */
td.arrow_delete{

    background-color: black;
    height: 2rem;
    position: relative;
}

/* image bouton effacer */
img{
    display: flex;
    z-index: 10; 
    height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    align-items: center;
    bottom: 5px;
}

img:hover{
    content: url(/assets/Arrow_delete_hover.png);
}

/* bouton C (tout supprimer) */
tr:nth-child(3) td:nth-child(1) {
    color: red;

}


/* bouton d'opération  */
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(4) td:nth-child(4),
tr:nth-child(5) td:nth-child(4),
tr:nth-child(6) td:nth-child(4),
tr:nth-child(7) td:nth-child(4) {
    color: rgb(1, 158, 1);
    font-weight: bold;
}

.tr3,
tr:nth-child(4) td:nth-child(4),
tr:nth-child(5) td:nth-child(4),
tr:nth-child(6) td:nth-child(4) {
    background-color: rgb(59, 59, 59);
}

tr:nth-child(7) td:nth-child(3) {
    background-color: rgb(1, 158, 1);
}

tr:nth-child(7):hover td:nth-child(3) {
    background-color: rgb(0, 177, 0);
}

.number:hover,
.equal:hover,
.parenthese:hover,
.delete:hover {
    background-color: rgb(80, 80, 80) ;
}

.operation{
    color: green;
}

/* tous les td sauf le input */
td:not(.arrow_delete, .equal){    
    border: 1px solid rgba(255, 255, 255, 0.456);
    border-radius: 50%;
    text-align: center;
    width: 10%;
    height: 10%;
    color: white;
}

/* le signe égal */
.equal{
    border: 1px solid rgba(255, 255, 255, 0.456);
    text-align: center;
    width: 10%;
    height: 10%;
    color: white;
}

.Addition,
.Soustraction,
.Multiplication,
.Division{
    display: none;
}


@media screen and (max-width: 600px) {
    table{
        height: 50vh;
        width: 300px;
        border-spacing: 15px;
    }

    tr:first-child td:first-child{
        height: 3rem;
    }

    td.arrow_delete{
        height: 1rem;
    }

    td:not(.arrow_delete) {
        width: 25px;
        height: 20px;
    }
}








